*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
        
}
/* side bar css code */
.sidebar{
   
    position: fixed; 
    width: 250px;
    height: 100%;
    padding-top:100px;
    background: #1e2716;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #1e2716;
    user-select: none;
       
}

 .img1{
     
     margin: 10px;
     width : 150px;
     height: 150px;
     border-radius: 100px;
        
    }
/*@@@@@@@@@@@color channge @@@@@@@@@@*/
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 55px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0);
    border-bottom: 1px solid black;
    transition: .4s;
}   

ul li:hover{
    padding-left: 50px;
    
}

.sidebar ul a i{
    margin-right: 16px;
    
}
#divleft{
    float: left;
    width: 250px;
    
}
#divright{
    background: #452315;
    float: right;
    width: auto
}